/* UNIVERSAL STYLING */
/* Color Theme Swatches in Hex */
.TACHYPNOE-1-hex { color: #9CA5A6; }
.TACHYPNOE-2-hex { color: #59362E; }
.TACHYPNOE-3-hex { color: #8C6B64; }
.TACHYPNOE-4-hex { color: #BFADA8; }
.TACHYPNOE-5-hex { color: #0D0D0D; }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #9CA5A6;
  --secondary-color: #8C6B64;
  --tertiary-color: #0D0D0D;
  --quaternary-color: #59362E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #BFADA8;;
}

.section-head { 
    font-size: 55px;
    font-weight: bold;
    border-bottom: 3px var(--primary-color) solid;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-family: 'Corben', cursive;
    text-shadow: 0px 3px 0px var(--primary-color),
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 24px 30px rgba(0,0,0,0.1);

   
}

a:visited {
    text-decoration: none;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: var(--tertiary-color) 1px solid;
}

header h1 a {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 36px;
    text-decoration: underline;
}

span {
    color: var(--tertiary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#navButton {
    padding-right: 20px;
    display: inline;   
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 18px;
}

#navButton:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--secondary-color);
}

#navButton:visited {
    text-decoration: none;
    color: var(--tertiary-color);
}


/* HERO IMAGE */

.hero-img {
    background-image: url(images/pennyback.jpg);
    background-position: center;
    width: 100%;
    height: 400px;
    max-width:100%;
    filter: grayscale(100%);
}

.hero-img h2 {
    align-content: flex-end;
}

/* ABOUT ME */

#about-me {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10% 5px 10%;
    justify-content: center;
}

.LI-profile-badge {
    margin: 0px 5% 1em;
    max-width: 20em;
    justify-self: center;
    background-color: var(--primary-color);
    border: 1px solid var(--quaternary-color);
    border-radius: 4px;
}

.LI-profile-badge:hover {
    box-shadow:  0px 3px 0px var(--primary-color),
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 24px 30px rgba(0,0,0,0.1);
}

#aboutMeContent {
    flex: 1 1 0;
    overflow: wrap;
    min-width: 260px;
}

/* PROJECTS */

.projects {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.project-card {
    padding: 10px;
    flex: 1 1 auto;
    margin: 15px 15% 40px 15%;
    height: 500px;

}

.project-card-sm {
    flex: 2 1 0;
    margin: 10% auto 10% auto;
    max-width: 30%;
    min-width: 200px;
    margin: 0px 2em 15px 2em;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.bg-image {
  min-height: 400px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
  margin-bottom: 10px;

}

#img1 {
    background-image: url(./images/wp5582676.jpg);
}

#img2 {
    background-image: url(images/fightbots.jpg);
}

#img3 {
    background-image: url(images/horiseon.png);
}

#img4 {
    background-image: url(images/password.jpg);
}

#img5 {
    background-image: url(images/toDo.jpg);
}

.bg-image:hover {
    filter: blur(0px);
    box-shadow:  0px 3px 0px var(--primary-color),
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 24px 30px rgba(0,0,0,0.1);
}

.project-title {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: black;
  font-weight: bold;
  border: 3px solid #9CA5A6; 
  text-align: center;
  border-radius: 12px;
  margin-top: 8px;
  
}

.project-title-sm{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 2px solid #9CA5A6; 
    text-align: center;
    flex: 2 1 0;
    color: black;
    border-radius: 12px;
}

.project-title:hover, .project-title-sm:hover {
    border: 3px solid #333; 
}

.project-title p, .project-card-sm p {
  font-size: 12px;
  font-weight: lighter;
  color: #9CA5A6;
  margin-bottom: 3px;
}

/* CONTACT */

.contact{ 
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto 20px auto;
    justify-content: space-around;
    margin: 50px auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #39a6b2;
    max-width: 75%;
}

.contact a {
   text-decoration: none;
   font-size: 22px;
}

.contact a:hover {
    text-shadow: 0px 3px 0px var(--primary-color),
            0px 14px 10px rgba(0,0,0,0.15),
            0px 24px 2px rgba(0,0,0,0.1),
            0px 24px 30px rgba(0,0,0,0.1);

}

.contact-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

#form-container {
    border: 1px solid var(--tertiary-color);
    background-color: var(--primary-color);
    padding: 20px;
    color: #024e76;
    width: 50%;
    min-width: fit-content;
}

#form-container form h3 {
    color: var(--tertiary-color);
}

div form .text-box {
  border: 1px solid #024e76;
  margin: 2px 0;
  font-size: 16px;
  color: #024e76;
  width: 100%;
}


form button {
    width: 100%;
    border: none;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 8px;
}

form button:hover {
    background-color: var(--secondary-color);
    color:var(--quaternary-color);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {
    header {
      justify-content: center;
    }
    
    header h1 a {
        padding-right: 10px;
    }
  }